---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="A Propos | Bataillon Briand"
	description="A propos de Bataillon Briand"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/1705791724692.jpg"
					alt="Bataillon Briand"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Depuis que j'ai découvert le langage binaire, j'ai été
						fasciné par le pouvoir transformateur du code. Mon amour
						pour la programmation va au-delà des simples
						instructions; c'est une passion pour résoudre des
						problèmes complexes et donner vie à des idées
						novatrices. Que ce soit en créant des applications
						intuitives, en concevant des sites web dynamiques ou en
						plongeant dans le monde de l'intelligence artificielle,
						chaque ligne de code que j'écris est imprégnée de
						créativité et d'ingéniosité.
					</p>
					<p>
						Mon portfolio témoigne de projets qui vont au-delà des
						attentes conventionnelles. Explorez des applications
						fluides qui simplifient la vie quotidienne, des sites
						web élégants qui captivent l'attention et des solutions
						logicielles qui repoussent les limites de l'innovation.
						Que ce soit en utilisant les dernières technologies
						front-end ou en plongeant dans le monde complexe du
						back-end, chacun de mes projets est une démonstration de
						compétence technique et de pensée créative.
					</p>
					<p>
						Rejoignez-moi dans cette aventure passionnante où le
						code devient une œuvre d'art, chaque projet une histoire
						captivante. Ensemble, nous pouvons créer l'avenir de la
						technologie.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bac+2 en Dévéloppement Informatique</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
